<div class="mx-auto max-w-sm">
  <.header class="text-center">
    <%= gettext("auth.register.title") %>
    <:subtitle>
      <%= gettext("auth.register.has_account") %>
      <.link navigate={~p"/users/log_in"} class="font-semibold text-brand hover:underline">
        <%= gettext("auth.register.login_link") %>
      </.link>
      <%= gettext("auth.register.login_suffix") %>
    </:subtitle>
  </.header>

  <.simple_form :let={f} for={@changeset} action={~p"/users/register"}>
    <.error :if={@changeset.action}>
      <%= gettext("auth.register.error") %>
    </.error>
    <.input field={f[:username]} type="text" label={gettext("auth.register.username_label")} required />
    <.input field={f[:password]} type="password" label={gettext("auth.register.password_label")} required />
    <.input field={f[:email]} type="email" label={gettext("auth.register.email_label")} />

    <div class="text-sm text-zinc-600 -mt-4 mb-4">
      <p><%= gettext("auth.register.email_info") %></p>
      <ul class="list-disc list-inside mt-1 text-xs">
        <li><%= gettext("auth.register.email_reason.maintenance") %></li>
        <li><%= gettext("auth.register.email_reason.deprecation") %></li>
        <li><%= gettext("auth.register.email_reason.features") %></li>
      </ul>
    </div>

    <:actions>
      <.button phx-disable-with={gettext("auth.register.submitting")} class="w-full"><%= gettext("auth.register.submit") %></.button>
    </:actions>
  </.simple_form>
</div>
